services: 
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_container
    restart: always
    ports:
      - ${APP_PORT}:80
    depends_on:
      - backend
    networks:
      - app-network

  database:
    image: mongo:latest
    container_name: database_container
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD}
    ports:
      - ${DB_PORT}:27017
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ping: 1})"]
      interval: 5s
      timeout: 2s
      retries: 5
    volumes:
      - database_data:/data/db
    networks:
      - app-network

  backend:
    build: 
      context: ./backend 
      dockerfile: Dockerfile
    container_name: nestjs_container
    restart: always
    ports:
      - ${API_PORT}:3000
    depends_on:
      database:
        condition: service_healthy
    command: sh -c "node dist/seed.js && node dist/main.js"
    env_file:
      - ./.env
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - app-network

  producer:
    build:
      context: ./message-queue/producer
      dockerfile: Dockerfile
    container_name: producer
    restart: unless-stopped
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./.env
    networks:
      - app-network

  consumer:
    build:
      context: ./message-queue/consumer
      dockerfile: Dockerfile
    container_name: consumer
    restart: unless-stopped
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ./.env
    networks:
      - app-network

volumes:
  database_data:

networks:
  app-network:
    driver: bridge